@model HackathonHoliday.Models.PollInformation

@{
    ViewBag.Title = "Create Poll";
}

<a href="@Url.Action("Polls","Home")" class="btn btn-default" style="min-width: 100px">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
</a>

<div class="text-center">
    <h1 style="color:grey"><b>Create Poll</b></h1>

    <center>
        <form action="CreatePoll" method="post">
            <div class="form-group" style="margin: 5em">
                <label asp-for="Name">Topic Poll</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "display: block; background-color: #eaeaea; border: unset;", type = "text", required = "required" })
                <p>By @HttpContext.Current.User.Identity.Name</p>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </center>
</div>