
@{
    ViewBag.Title = "Polls";
}

<h2>Polls</h2>

<a href="@Url.Action("CreatePoll","Home")" class="btn btn-block btn-lg btn-primary">CreatePoll</a>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.ActionLink("Poll 1", "PollDetail")
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        Poll 2
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        Poll 3
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        Poll 4
    </div>
</div>
